@font-face {
  font-family: PFDinCondensedMedium;
  src: url(../fonts/PFDinCondensedMedium.ttf);
}
@font-face {
  font-family: PFDinCondensedRegular;
  src: url(../fonts/PFDinCondensedRegular.ttf);
}
html {
  font-size: 10px;
}
.title-page {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 10px 0;
}
.title-page h2 {
  font-family: PFDinCondensedRegular;
  font-size: 4rem;
}
.header {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.header__langBlock {
  position: absolute;
  top: 3vh;
  right: 5%;
}
.header__langBlock > ul {
  list-style: none;
}
.header__langBlock > ul .active {
  border-bottom: 3px solid #F7D701;
}
.header__langBlock > ul > li {
  margin: 0 2px;
  display: inline-block;
  font-size: 2rem;
}
.header__langBlock > ul > li > a {
  text-decoration: none;
  color: #000;
}
.header__top {
  margin-top: 15vh;
  display: -ms-flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}
.header__top--logo {
  height: 15vh;
  max-height: 150px;
  padding: 10%;
  background-color: #F7D701;
}
.header__top--logo > img {
  height: 100%;
}
.header__top--title {
  text-align: center;
  color: #050505;
  margin-top: 10px;
}
.header__top--title--name {
  font-weight: bold;
  font-family: PFDinCondensedMedium;
  font-size: 4rem;
}
.header__top--title h1 {
  font-size: 2.5rem;
  font-family: PFDinCondensedRegular;
}
.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2vh 0;
  width: 100%;
  overflow: hidden;
  background-color: #F7D701;
}
.header__bottom--menu {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header__bottom--menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}
.header__bottom--menu > ul > li {
  background-color: #F7D701;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.header__bottom--menu > ul > li > a {
  font-size: 3.5rem;
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: PFDinCondensedRegular;
}
.header__bottom--menu > ul > li > a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  opacity: 0;
  width: 100%;
}
.header__bottom--menu > ul > li > a:hover:after {
  opacity: 1;
  height: 4px;
}
